.mouse {

  width: 300px;
  height:200px;
  border: 1px solid grey;

}

.zona-drag {

  width: 300px;
  height:200px;
 background-color: lime;
 display: flex;
 justify-content: center;
 margin-top: 60px;
 margin-left: 300px;
  

}

.dragable {

  width: 100px;
  height:100px;
 background-color: orange;
 margin-bottom: 60px;
 display: flex;
 justify-content: center;
 margin-top: 60px;
 margin-left: 300px;
 

}

#ex25 button {
  margin-top: 3rem;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
